- name: Install apache
  apt:
    name: apache2
    state: present
    update_cache: true
  notify: restart apache

- name: Deploy index page
  template:
    src: index.html.j2
    dest: /var/www/html/index.html
